@import url(https://fonts.google.com/specimen/Mina?query=moon#standard-styles);

*{
    list-style-type: none; 
    color: white; 
    font-family: 'Mina', sans-serif;
}
.logo{
    height: 120px;
    width: 200px;
}
.nav{
    text-align: center;
    display: inline;
}
.nav ul li{ 
    text-align: center;
    margin: 0;
}
.ul a:hover {
    background-color: teal;
}
.h1{
    text-align:center;
}
.header{
    text-align:center;
}
body{
        background-image: url(Imgs\Moonrift-FINAL-White.jpg);
        background-color: rgb(5, 5, 5);
        background-position: 0px;
        background-attachment: fixed;
        float: center;
        margin: 0;
}
footer{
    text-align: center;

}

